<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset-utf-8">
    <meta name="viewport" content="width-devide-width, initial-scale-1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>Assembler Compiler</title>
    <style type="text/css">
      .margin-top{
        margin-top: 30px;
      }
      #bCompile{
        margin-top: 5px;
      }
      textarea {
        resize: vertical;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div id="dTable">
            <label for="iTaxArea">Assembler code:</label>
            <textarea class="form-control" rows="15" id="iTaxArea">add $s0, $s1, $s2 
sub $t0, $t3, $t5
addi $s0, $s1, 5
beq $s0, $s1, La
addi $t0, $s3, -12
lw $t2, 32($0)
sw $s1, 4($t1)
:La
j 2500</textarea>
          </div>
          <button type="button" id="bCompile" class="btn btn-success pull-right" onclick="fnCompile()">Success</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 margin-top">
          <div class="alert alert-danger" role="alert" id="errorAlert"></div>
          <div class="alert alert-warning" role="alert" id="warningAlert"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="margin-top">
            <table id="tTable" class="table table-striped">
              <thead>
                <tr>
                  <th> Assembly </th>
                  <th> Binário </th>
                  <th> Hexadecimal </th>
                </tr>
              </thead>
              <tbody id="tTableBody">
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    $("#errorAlert").hide();
    $("#warningAlert").hide();
    $("#tTable").hide();
    function fnCompile() {
      var assemblerCode = $("#iTaxArea").val().split("\n");
      data = {};
      data.code = [];
      
      for (var i = 0; i < assemblerCode.length; i++) {
        var aux = {line: assemblerCode[i]};
        data.code.push(aux);
      }
      $.ajax({
        type: 'POST',
        data: data,
        url: '/compiler',            
        success: function(result) {
          fnAlert("#errorAlert", result.error, "Errors:");
          fnAlert("#warningAlert", result.warning, "Warnings:");

          fnAppendResultToTable(result);
        }
      });
    }
    function fnAlert(id, data, initialText){
      if(data.length !== 0){
        $(id).html(initialText);
        for (var i = 0; i < data.length; i++) {
          var er = data[i];
          $(id).html($(id).html() + "<br/> Linha " + er.line + " : " + er.mess);
        }
        $(id).show();
      } else {
        $(id).hide();
      }
    }

    function fnAppendResultToTable(result){
      $("#tTable").show();
      // Initialize table
      $("#tTableBody tr").remove();
      var code = result.data;
      for (var i = 0; i < code.length; i++) {
        $("#tTableBody").append(fnBuildTableItem(code[i]));
      }
    }
    function fnBuildTableItem(item) {
      return "<tr>" + 
                "<td>" + item.assembly + "</td>" + 
                "<td>" + item.binary + "</td>" + 
                "<td>" + item.hexa + "</td>" + 
             "</tr>";
    }
  </script>
</html>
